/*
Spacing System (px)
2/4/8/12/16/24/32/48/64/80/96/128

Font Size System (px)
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98
*/

/*Base Styles */
@layer base {
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }

  * {
    border-color: var(--surface-border);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-sans);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
